<!DOCTYPE html>
<html>
  <head>
    <title>The Bioluminescence Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/f8e35c4eda.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id='bl-app'>
      <div class='header clearfix'>
          <h1 class='float-left'>The Bioluminescence Hub</h1>
          <div class='float-right'>
              <div class='button login'>
                  Log In
              </div>
              <div class='button signup'>
                  Sign Up
              </div>
          </div>
      </div>

      <div id='content'>
          <div id='nav-bar-container'></div>
          <div id='home'></div>
          <%= yield %>
      </div>
  </body>

  <footer class='footer'>
      <p>
          Copyright 2018 | Kia Salehi
      </p>
  </footer>
</html>
